body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signup-container {
    background-color: white;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.signup-container h2 {
    margin-bottom: 20px;
    text-align: center;
}
.logo img {
    width: 140px; /* Adjust size as needed */
    display: block;
    margin: 0 auto 20px; /* Centers the logo */
}
.signup-container input,
.signup-container select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.signup-container button {
    width: 100%;
    padding: 10px;
    background-color: #5cb85c;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
}

.signup-container button:hover {
    background-color: #4cae4c;
}

.error {
    color: red;
    font-size: 14px;
}
